{% extends 'base.html'%}

<!-- head -->
{%block head%}
  <title>AdeyTrends</title>
{% endblock %}


<!-- body -->
{%block body%}

  <div class="header-container">
      <div class="social-link-container">
        <a class="social-link" target="_blank" href="https://www.instagram.com/adeytrends/">
          <img target="_blank" src="https://image.flaticon.com/icons/svg/733/733614.svg" alt="Instagram">
        </a>
      </div>
      <div class="random-names-img">
        <img src="https://uploads-ssl.webflow.com/5305024184cddf3925000bdf/5ca8fff1d636b760775c1749_title.svg">
      </div>
    </div>


  <!-- Site main body -->


    <div class="button-container">
      <a href="/update"><button class="button"type="button" name="button"> EXPLORE</button> </a>

    </div>





{% endblock %}


<!-- Site footer -->
<!-- <div class="footer">
  <div class="w-container">
  <div class="navigation-bar">
  <a class="nav-link" href="/#">Home</a>
  <a class="nav-link" href="mailto:adeytrends@gmail.com?subject=Contact">Contact</a>
  <a class="nav-link" href="/about">About</a>
  <a class="nav-link" target="_blank" href="https://www.instagram.com/adeytrends/">Instagram</a>
  <a class="float-right nav-link w--current" href="/#">ADEYTRENDS</a>
  </div>
  <p class="nav-link">Copyright © 2020</p>
  </div>
</div> -->
